<%- include('partials/header') %>

<h1>Middleware Demo Page</h1>
<p>this is a demo page, not really meant for anything special, so please don't look too close at it</p>

<%- include('partials/footer') %>
